<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html %}

    {% include header.html %}


    <div class="container-fluid">

        <div class="row">
            <div class="box">

                <div class="col-lg-12 text-left">
                  <img class="img-responsive img-border img-full" src="img/slide-1.jpg" alt="">

                    <h2><a href="{{ site.url }}{{ page.url }}">{{page.title }}</a></h2>
                    {{ page.date | date: "%B %e, %Y" }}
                    <div class="entry">
                    {{ content }}
                </div>


            </div>
        </div>

    </div>
  </div>
    <!-- /.container -->

    {% include footer.html %}
    {% include js.html %}

</body>

</html>

<!--div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div-->
